/* global */
body{background-color: #efefef;}
.wrapper{
padding:0.5%;
}
.hero .nav-item{
font-family: 'Pacifico', cursive;
}
.container > .title{
font-family: 'Pacifico', cursive;
font-size: 40px;
font-weight: normal;
  @media (min-width: 768px){
    font-size: 60px;
  }
}

.container > .subtitle{
font-size: 0.8rem;
  @media (min-width: 768px){
    font-size: 1rem;
  }
}

/* cards */
.masonry__tile{
    width: 32%;
    box-sizing: border-box;
    padding: 8px;
    margin-left:0.66%;
    margin-right:0.66%;
    margin-bottom: 10px;
    background-color: #FFF;
    border-radius: 4px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    
    a {
        display: block;
        line-height: 1;
    }
}

@media (min-width: 768px){
    .masonry__tile{
        width: 23%;
        margin-left:1%;
        margin-right:1%;
    }
}

.card{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}
.isHide{
        opacity: 0;
}
.isShow{
        opacity: 1;
}

/* modal */
.modal{
  position: absolute;
}
.modal-content{
  overflow: visible;
  width: auto;
  max-width: 90%; 
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px){
      max-width: 70%;
  }
  @media (min-width: 921px){
      max-width: 50%;
  }
}
.modal.is-active{
  display: block;
  padding-top: 20px;
}
